@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&family=Quicksand:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
}
html{
    scroll-behavior: smooth;
}
header{
    /* background-color: #FFF; */
    /* margin-top: 5vh; */
    width: 100%;
    margin-top: 5vh;
    z-index: 2;
    position: fixed;
    
}
.navigation{
    border-style: solid;
    border-right: none;
    border-left: none;
    border-color: #FFF;
    border-width: 1px;
    width: 90%;
    height: 5vh;
    margin: auto;
    display: flex;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, .2);

}

.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    flex: 2;
}
a{
    color: #FFF;
    text-decoration: none;
}
a:active{
    translate: 10px;
}
.logo{
    display: flex;
    /* color: rgb(67,55,35); */
    color: #FFF;
    
    flex: 1;
    justify-content: space-around;
    font-family: 'Staatliches', cursive;
    background-color: transparent;
    font-size: 2rem;
    align-items: center;
    
}
/* .intro{
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    margin: 10vh auto;
    text-align: center;
    
}


img{
    border-radius: 10px;
} */
.intro p{
    margin: 3% auto;
    text-align: center;
}
#more{
    color: #C2185B;
}
#more:hover{
    color: #000;
    transition: 0.3s ease-in-out;
    
}

.nav-link:hover{
    color:  #C2185B;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}
hr{
    width: 50%;
    margin: 5% auto;
}

h1{
    color: rgb(21, 18, 18);
    padding: 1rem 3rem;
    background-color: #AB47BC;
    color: #fff;
    font-weight: 400;
    border-radius: 10px;
    box-shadow: 5px 0 10px 0 rgba(0, 0, 0, .2);
    
}

.social{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    padding: 2px 2rem;
    
}
/* .social img{
    height: 30px;
    width: 30px;
} */
.link{
    width: 30vw;
    height: fit-content;
    
}
.about{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: #777; */
    width: 80%;
    margin: auto;
}
.image-container{
    display: flex;
    height: 300px;
    width: 400px;
    align-items: center;
    transform: translateX(0);
    transition: transform 0.7s ease-in-out;
}
.image-container img{
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .4);
    object-fit: cover;
    /* position: absolute; */
    
}
.image{
    height: 360px;
    width: 400px;
    overflow: hidden;
    /* background-color: #777; */
    
}
.info-container{
    max-width: 40vw;
    font-size: 1.2rem;
    
}

.slider{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-around;

}
.slider button{

    border-style: solid;
   /* background-color: rgba(0, 0, 0, .2); */
   color: transparent;
   padding: 0 10px;
   margin-top: 2vh;
   border-radius: 5px;
   cursor: pointer;
   outline: none;
}
h2{
    text-align: center;
}
.about-me{
    margin-top: 2%;
    margin-bottom: 2%;
}
.passion{
    margin: 3rem auto;
    width: 40%;
    text-align: center;
}

.passion-container{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 3rem;
}
.passion-container img{
    height: 80px;
    width: 80px;
}
.passion-container div{
    padding: 1rem 2rem;
    border-style: solid;
    border-width: 1px;
    border-radius: 2rem;
}
.passion-container div:hover{
    background-color: #fff9d4;
    border-color: #fff9d4;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .3);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.contact{
    display: flex;
    width: 40%;
    margin: auto; 
    margin-top: 5vh;
    justify-content: space-between;
    
}
.navigation.active  li a ,.navigation.active  span{
    color: #777;
}
.navigation.active{
    background-color: rgba(255,255,255,.7);
    border-color: #777;

}

.qr.info{
    font-size: 12px;
    text-align: center;
    
}
.comment-form{
    display: flex;
    flex-direction: column; 
    width: fit-content;
    
}
.comment-form input{

    height: 3rem;
}
.comment-form input,textarea{
    width: 30rem;
    border-style: solid;
    border-width: 1px;
    border-color: #000;
    border-radius:.5rem;
    padding-left: 1rem;
    font-size: 1rem;
    outline: none;
    resize: none;
}
.comment-form .submit{
    height: 3rem;
    width: 50%;
    margin: auto;
    margin-top: 5%;
    cursor: pointer;
    border: solid 2px #000;
    border-radius: .5rem;
    background-color: transparent;
    color: #000;
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;
    outline: none;

}
.comment-form .submit:hover{
    color: #FFF;
    background-color: #000;
    transition: 00.3s ease-in-out;
}
.comment p{
    font-size: 1.5rem;
    font-weight: bold;
    margin: 3rem auto;
    text-align: center;
}
.comment-container{
    display: flex;
    
    flex-direction: column;
    align-items: left;
    width: 30vw;
    height: 60vh;
    border-style: solid;
    border-width: 1px;
    border-color: #000;
    border-radius:1rem;
    font-size: 1rem;
    overflow: hidden;
    overflow-x: hidden;
    
}
.commenting{
    display: flex;
    width: 70%;
    justify-content: space-between;
    margin: auto;
}
.comment-top{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #000;
    color: #FFF;
    height: 5%;
    width: 100%;
    text-align: center;
    margin: 0;
    
}

.comment-top p{
    font-weight: 400;
    font-size: 18px;
    margin: 0;
}
.comment-list::-webkit-scrollbar{
    display: none;
}
.comment-list{
    overflow: scroll;
}
.comment-container span{
    padding: 5px 10px;
    margin-left: 1rem;
    background-color: #000;
    color: #FFF;
    margin-right: 5px;
    border-radius: 10px;
    height: fit-content;
    
}

.first-comment{
    display: flex;
    align-items: center;
    width: 100%;
    height:auto;
    padding: 0;
    margin: 0 auto;
}
.first-comment p{
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    background-color: transparent;
    align-items: center;
    border: solid 1px #000;
    margin: 5px 0;
    margin-right: 1rem;
    max-width: 75%;
    border-radius: 10px;
    text-align: left;
    padding: 5px 10px;
}
/* .message{
    overflow: hidden;

}
.message p{
    font-size: 1rem;
    font-weight: 400;
    margin: 10px 0;
    color: rgb(255, 0, 0);
    
}
    */
footer{
    display: flex;
    flex-direction: column;
    color: #FFF;
    margin-top: 10vh;
    height: 20vh;
    background-color: #000;
    overflow: hidden;
}

footer .icons{
    display: flex;
    width: 15%;
    justify-content: space-between;
    margin: 15px auto;
}
footer .icons i{
    color: #FFF;

}
footer p strong{
    font-size: 1.5rem;
}
.copyright{
    text-align: center;
}


@media (max-width: 340px) {
    header{
        margin-top: 2vh;
        width: 100vw;
        
    }
    .navigation{
        max-width: 100%;
        margin: auto;
        height: 3vh;
        justify-content: none;
    }
    .logo{
        margin: 0 0;
        font-size: 1rem;
        flex: 1;
    }
    .nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex: 4;
        padding-left: 0;

    }
    .nav li{
        font-size: 0.7rem;
        width: 20px;
        list-style: none;
        padding: 0 0 ;
        margin:0 0 ;
    }
    .intro img{
        height: 400px;
    }
    .intro p{
        font-size: 13px;
    }
    .about{
        margin: 2rem auto;
        flex-direction: column;
    }
    .image-wraper{
        width: 380px;
        height: auto;
        overflow:hidden ;
    }
    .image button img{
        height: 1rem;
        width: 1rem;
        
    }
    .image button{
        height: 1.3rem;
        width: 2.5rem;
        border-style: none;
    }
    .info-container{
        max-width: 100%;
        max-height: 80vh;
    }
    .info-container p{
        font-size: .7rem;
    }
    .passion{
        width: 90%;
        margin: 1rem auto;
    }
    .passion-container{
        font-size: .5rem;       
        text-align: center; 
        margin-top: 10%;
        margin-left: 0;
    }
    .passion-container div{
        width: 30%;
        height: 30%;
        text-align: center;
        border-width: 4px;
        border-radius: 0%;
        padding: 0;
        margin: 0;
        border-style: none;
        border-right-style: solid;
    }
    .passion-container div.game{
        border-right-style: none;
    }

    .passion-container img{
        height: 40px;
        width: 40px;
    }
    .contact{
        margin: 2rem auto;
        width: 90%;
    }
    .social img{
    height: 20px;
    width: 20px;
}
    .link{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex: 1;
        height: fit-content;
    }
    .qr{
        flex: 1;
        text-align: center;
    }
    .social{
        display: flex;
        justify-content: space-between;
        font-size: .7rem;
    }
    .commenting{
        display: flex;
        flex-direction: column;
        width: 90%;
        align-items: center;
        margin: auto;
        padding-bottom: 2vh;
    }
    .comment-container{
        width: 100%;
        margin-bottom: 5vh;
    }
    
    .comment-top p{
        font-weight: 400;
        font-size: 1rem;
        margin: 0;
    }

    .comment-form input,textarea{
        width: 15rem;
        height: 2rem;
        font-size: .7rem;
    }
    .comment-form textarea{
        height: 15vh;
    }
    footer .icons {
        width: 30%;
    }
    footer p{
        font-size: .7rem;
    }
    footer p strong{
        font-size: 1rem;
    }
}
